

altair                   
attrs                     
blinker                   
cachetools                
certifi                   
charset-normalizer        
click                    
contourpy                 
cycler                    
DateTime                  
et_xmlfile                
fonttools                 
gitdb                     
GitPython                 
idna                      
Jinja2                    
jsonschema                
jsonschema-specifications 
kiwisolver                
MarkupSafe                
matplotlib                
narwhals                  
numpy                     
openpyxl                  
packaging                 
pandas                   
patsy                    
pillow                    
pip                       
plotly                    
plotly-express            
protobuf                  
pyarrow                   
pydeck                    
pyparsing                 
python-dateutil           
pytz                      
referencing               
requests                  
rpds-py                   
scipy                     
six                       
smmap                     
statsmodels               
streamlit                 
tenacity                 
toml                      
tornado                   
typing_extensions         
tzdata                    
urllib3                   
watchdog                  
zope.interface            

streamlit
pandas
joblib

streamlit

streamlit==1.8.0
protobuf<=3.20.0